body {
    background-color: #4e6cf0;
    margin: 0;
    overflow: hidden;
    overflow: hidden;
}

.container {
    width: 100vw;
    height: 1000px;
}

.box {
    margin: 0;
    padding: 0;
    float: left;
    filter: blur(2px) saturate(.5);
    transition: 0.5s;
}

#bill {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin: 0;
    padding: 0;
}

#tihi {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0;
    padding: 0;
}

#tarto {
    position: absolute;
    top: calc(50% - 250px);
    left: 50%;
    transform: translate(-50%);
}

#left {
    position: absolute;
    top: calc(50% - 250px);
    left: 15%;
    text-align: center;
}

#right {
    width: 30vw;
    position: absolute;
    top: calc(50% - 250px);
    right: 3%;
}

.box:hover {
    filter: blur(0px);
}

.mid {
    text-align: center;
}

.white {
    color: white;
}

.sec {
    color: #794ef0;
}