body {
    background: linear-gradient(-45deg, #2a4ff3, #37aeda, #55c7ac);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    margin: 0;
    overflow: hidden;
    overflow: hidden;
    font-family: 'Kanit', sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


/* @media screen and (max-width: 800px) {
    .box img {
        width: 150px;
    }
}

@media screen and (max-width: 600px) {
    .box img {
        width: 100px;
    }
} */


.container {
    width: 100vw;
    height: 1000px;
}

.box {
    margin: 0;
    padding: 0;
    float: left;
    filter: blur(2px) saturate(.5);
    transition: 0.5s;
}

#bill {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin: 0;
    padding: 0;
}

#bill_noblur {
    border-radius: 8px;
    margin: 0;
    padding: 0;
    height: 350px;
}

#tihi {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0;
    padding: 0;
}

#tihi_noblur {
    border-radius: 8px;
    margin: 0;
    padding: 0;
    height: 350px;
}

#tarto {
    position: absolute;
    top: calc(50% - 250px);
    left: 50%;
    transform: translate(-50%);
}

#left {
    position: absolute;
    top: calc(50% - 250px);
    left: 10%;
    text-align: center;
}

#right {
    position: absolute;
    top: calc(50% - 250px);
    right: 3%;
    width: 30vw;
}

#nev {
    font-size: 3vw;
}

#adatok {
    text-decoration: underline 2px #27187E;
}

#back {
    position: absolute;
    top: calc(95% - 250px);
    left: 50%;
    transform: translate(-50%);
}

#back a {
    padding: 10px;
    font-size: 2vw;
    text-decoration: none;
    border: solid 3px;
    border-radius: 8px;
}

#back a:hover {
    transition: .5s;
    color: #27187E;
}

.box:hover {
    filter: blur(0px);
}

.single_left .cim:hover,
.single_right .cim:hover {
    transform: scale(1.2);
    transition: .5s;
    /* color: #aeb4e7; */
}

.cim{
    width: 100%;
}

.mid {
    margin-top: 30px;
    text-align: center;
}

.white {
    color: white;
}

.sec {
    color: #27187E;
}

.big {
    font-size: 3vw;
}

#wave {
    position: fixed;
    z-index: -10;
    bottom: 0;
    left: 0 !important;
    width: 100vw;
    margin: 0 !important;
    padding: 0 !important;
}

#wave path {
    fill: #755ff3;
    fill-rule: evenodd;
}

.leiras{
    padding: 5px 0px;
    text-decoration: underline 3px #aeb4e7;
}